GOOGLE_CLIENT_EMAIL=service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace-me\n-----END PRIVATE KEY-----\n"
GOOGLE_IMPERSONATED_USER=
GOOGLE_CALENDAR_ID=primary
TRANSCRIPTS_COLLECTION=transcriptions
TRANSCRIPTS_BUCKET=
TRANSCRIPTS_LANGUAGE=en-US
TRANSCRIPTS_MODEL=short
